.wrapper {
    background: #F5F5F7;
    border-radius: 30px;
    width: 175px;
}
.add_button {
    background: #4056A1;
    border: none;
    border-radius: 90px;
    width: 100px;
    height: 40px;
    color: #fff;
    transition: all 0.2s ease-out;
    &:hover {
        background: #3a4c8f;
    }
}